# All
"ENV_DOMAIN": "domain.com"

#Duckdns
"ENV_DUCKDNS_Token": "token"

#FoundryVTT
"ENV_FOUNDRY_LICENSE_KEY": "licensekey"
"ENV_FOUNDRY_USERNAME": "username"
"ENV_FOUNDRY_PASSWORD": "password"
"ENV_FOUNDRY_ADMIN_KEY": "password"


#planka
"ENV_PLANKA_DATABASE_URL": "postgresql://username:password@ipaddress:5432/planka"
"ENV_PLANKA_SECRET_TOKEN": "notasecretkey"


#Teslamate:
"ENV_TESLAMATE_DATABASE_PASS": "password"